@font-face {
	font-family: 'Brandon';
	src: url('../fonts/Brandon_bld.otf'); /* IE9 Compat Modes */
}
@font-face {
	font-family: 'Baskerville';
	src: url('../fonts/baskerville.ttf'); /* IE9 Compat Modes */
}
@font-face {
	font-family: 'Credit';
	src: url('../fonts/credit_block.ttf'); /* IE9 Compat Modes */
}